<div class="p-2">
  <p>about works!{{ num }}</p>

  <div class="flex items-center justify-center gap-2 py-2">
    <input
      type="text"
      maxlength="10"
      placeholder="input here.."
      class="block w-52 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [(ngModel)]="name"
    />

    <button class="btn" mat-fab extended color="accent" (click)="submitValue()">
      submit value
    </button>
  </div>
  <app-comp1 class="flex justify-center" [myvalue]="value"></app-comp1>
</div>
